@model FestivArts.Models.Entity.Benevole

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Benevole</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Prenom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Prenom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Commentaire)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Commentaire)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Permis)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Permis)
            </dd>

            <dt>
                Preferences
            </dt>

            <dd>
                @string.Join(",",Model.Preferences.Where(p => p.Valeur > 0).Select(s => s.TypeTache.Nom))
            </dd>
            <dt>
                Non preference
            </dt>

            <dd>
                @string.Join(",", Model.Preferences.Where(p => p.Valeur < 0).Select(s => s.TypeTache.Nom))
            </dd>

        </dl>

        <div class="form-group">
       @foreach (var jour in ViewBag.Jours)
       {

        int i = jour.Id;

        <div class="col-md-2">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@jour.Nom</h3>
                </div>
                <div class="panel-body">
                    @ViewBag.Coms[i]
                </div>
            </div>

            <ul class="list-group">
                 @foreach (int j in Model.DisposByDays[i].Keys)
                 {
                 <li class="list-group-item">
                     #@j
                     
                     @if (@Model.DisposByDays[i][j].EstDispo)
                     {
                        <span class="label label-success">
                            @Model.DisposByDays[i][j].CreneauDef.Debut.ToString("HH:mm")
                        </span>
                     }
                     else
                     {
                        <span class="label label-warning">
                            @Model.DisposByDays[i][j].CreneauDef.Debut.ToString("HH:mm")
                        </span>
                     }
                     @if (@Model.DisposByDays[i][j].ModifManuel)
                     {
                        <span class="badge"  > M </span>
                     }
                     &nbsp;
                     @Html.CheckBoxFor(model => model.DisposByDays[i][j].EstDispo)
                     @Html.LabelFor(model => model.DisposByDays[i][j].EstDispo)
                </li>
                 }
            </ul>
        </div>
       }

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Next", "Edit", new {id = @ViewBag.NextBenId})


</div>
